.columnContainer {
    background-color: #e3e7ee;
    width: 200px;
    padding: 15px;
    height: 480px;
    border-radius: 5px;
}

.columnChildrenContainer {
    width: 100%;
    height: 100%;
}

.reducedBorder {
    border: dashed 1px black;
}

.normalBorder {
    border: none;
}
